@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

.focus-outline:focus {
  outline: 2px solid blue;
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #1e40af; /* Use blue-800 shade */
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #1d4ed8; /* Darker shade for hover, similar to blue-700 */
}

/* Apply custom scrollbar to the notification container */
#notification-container {
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

#Client_Profile_Card {
  background: radial-gradient(
    ellipse at 27% 19%,
    #fffafa,
    rgba(59, 130, 246, 1)
  );
}
